body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	display: flex;
}

header {
	background-color: #333;
	color: #fff;
	padding: 15px;
	text-align: center;
	width: 100%;
}

aside {
	background-color: #f4f4f4;
	width: 200px;
}

nav ul {
	list-style: none;
	padding: 0;
}

nav ul li {
	padding: 10px;
}

nav ul li a {
	color: #333;
	text-decoration: none;
}

main {
	padding: 20px;
	flex-grow: 1;
}

section {
	background-color: #fff;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 5px;
	text-align: center;
}
